/*** 
=============================================
    Fact Counter Area style
=============================================
***/
.fact-counter-area {
    position: relative;
    display: block;
    padding: 0px 0px 70px;
    background: #ffffff;
    z-index: 10;
}

.fact-counter_box {
    position: relative;
    display: block;
    padding-top: 91px;
}

.fact-counter_box .border-top-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #c6c7cc;
}

.fact-counter_box ul {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.single-fact-counter {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 25%;
    width: 100%;
    margin-bottom: 46px;
}

.single-fact-counter .round-box {
    position: absolute;
    left: -20px;
    bottom: -10px;
    width: 50px;
    height: 50px;
    background-color: #e6f0f7;
    border-radius: 50%;
}


.single-fact-counter .icon {
    position: relative;
    display: block;
    width: 85px;
    top: 3px;
}

.single-fact-counter .icon span {
    position: relative;
    display: block;
    line-height: 0;
}

.single-fact-counter .icon span::before {
    position: relative;
    display: inline-block;
    color: var(--thm-primary);
    font-size: 60px;
    line-height: 60px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.single-fact-counter:hover .icon span::before {
    transform: scale(1.1) rotateY(180deg);
}




.single-fact-counter .outer-box {
    position: relative;
    display: block;
    flex: 1;
}

.single-fact-counter .count-box {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--thm-black);
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    font-family: var(--thm-font);
}

.single-fact-counter .count-box span {
    position: relative;
    display: block;
    line-height: 50px;
}

.single-fact-counter .count-box i {
    position: relative;
    display: inline-block;
    top: 2px;
    padding-left: 5px;
    font-size: 35px;
    font-weight: 700;
}


.single-fact-counter .title {
    position: relative;
    display: block;
    padding-top: 8px;
}

.single-fact-counter .title h6 {
    color: var(--thm-primary);
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: var(--thm-font);
}


.single-fact-counter:nth-child(2) {
    padding-left: 30px;
}

.single-fact-counter:nth-child(2) .round-box {
    left: 10px;
}


.single-fact-counter:nth-child(3) {
    padding-left: 30px;
}

.single-fact-counter:nth-child(3) .round-box {
    left: 10px;
}



.single-fact-counter:nth-child(4) {
    padding-left: 40px;
}

.single-fact-counter:nth-child(4) .round-box {
    left: 20px;
}









/*** 
=============================================
    Fact Counter Style2 Area style
=============================================
***/
.fact-counter-style2-area {}

.fact-counter-style2-area .fact-counter_box {
    margin-top: 93px;
    padding-top: 111px;
}

.fact-counter-style2-area .fact-counter_box .border-top-color {
    background: #467ab5;
    opacity: 0.50;
}

.fact-counter-style2-area .single-fact-counter .icon span::before {
    color: #17aaff;
}

.fact-counter-style2-area .single-fact-counter .round-box {
    opacity: 0.03;
}

.fact-counter-style2-area .single-fact-counter .count-box {
    color: #ffffff;
}

.fact-counter-style2-area .single-fact-counter .title h6 {
    color: #ffffff;
}